button {
  font-family: PressStart2PType;
  font-size: 1rem;
  cursor: pointer;
  border-style: none;

  &:focus {
    outline: none;
  }

  &:active {
    box-shadow: inset 0 0 10px #000000;
  }
}

.menu-btn {
  padding: 1rem;
  border-radius: 5px;
}