#player-container {
  position: absolute;
  top: 24rem;
  left: 35rem;
  width: 8rem;
  height: 19rem;
  overflow: hidden;
  // filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
  // -webkit-filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
}

#player-sprite {
  position: relative;
  top: -2px;
  left: -7px;
  width: 1995px;
  height: 1224px;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);
  background: url("/assets/character-sprites/dick-sprite-sheet.png");

  &.right {
    top: -608px;
  }
  
  &.down {
    top: -2px;
  }

  &.up {
    top: -304px;
  }

  &.left {
    top: -912px;
  }

  // &.standing {

  // }

  &.walk {
    animation: walk 1000ms steps(13) infinite;
  }

  @keyframes walk {
    100% {
      transform: translateX(-1855px);
    }
  }
}