#player-container {
  position: absolute;
  top: 384px;
  left: 560px;
  width: 128px;
  height: 304px;
  overflow: hidden;
  // filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
  // -webkit-filter: drop-shadow(12px -2px 7px rgba(0,0,0,0.5));
}

#player-sprite {
  position: relative;
  top: -1px;
  left: -7px;
  width: 1995px;
  height: 306px;
  image-rendering: pixelated;
  filter: blur(0);
  -webkit-filter: blur(0);

  &.standing {
    background: url("/assets/character-sprites/dick.png");

    &.right {
      background: url("/assets/character-sprites/dick-right.png");
    }
    
    &.down {
      background: url("/assets/character-sprites/dick-down.png");
    }
  
    &.up {
      background: url("/assets/character-sprites/dick-up.png");
    }
  
    &.left {
      background: url("/assets/character-sprites/dick-left.png");
    }
  }

  &.walk {
    animation: walk 1000ms steps(13) infinite;

    &.right {
      background: url("/assets/character-sprites/dick-right.png");
    }
    
    &.down {
      background: url("/assets/character-sprites/dick-down.png");
    }
  
    &.up {
      background: url("/assets/character-sprites/dick-up.png");
    }
  
    &.left {
      background: url("/assets/character-sprites/dick-left.png");
    }
  }

  @keyframes walk {
    100% {
      transform: translateX(-1855px);
    }
  }
}