<section class="background">
  {{#if (not endHallway)}}
    <img class="hallway scene" src="/assets/images/hallway.png" alt="">
  {{else}}
    {{!-- <img class="test-area scene" src="/assets/images/test-area.png" alt=""> --}}
  {{/if}}
</section>
