<section class="test-area background">
  <img class="rain" src="/assets/images/rain.gif" alt="">
  <img class="scene" src="/assets/images/test-area.png" alt="">
  <img class="clock" src="/assets/objects/clock.gif" alt="">
</section>

<section class="foreground">
  <WalkArea @scene="test-area" />
  <div id="player-container">
    <img src="/assets/character-sprites/frank-sprite-sheet.png" id="player-sprite" class="standing">
  </div>

  <div class="object container couch">
    <img class="image" src="/assets/objects/couch.png" alt="">
    <div class="occupied-area"></div>
  </div>

  <div class="object container pillar">
    <img class="image" src="/assets/objects/pillar.png" alt="">
    <div class="occupied-area"></div>
  </div>
  
</section>