<section class="background">
  <img class="test-area scene" src="/assets/images/test-area.png" alt="">
</section>

<section class="foreground">
  <WalkArea @scene="test-area" />
  <div id="player-container">
    <img id="player-sprite" class="standing">
  </div>
</section>