<section class="test-area background">
  <img class="rain" src="/assets/images/rain.gif" alt="">
  <img class="scene" src="/assets/images/test-area.png" alt="">
  <img class="clock" src="/assets/objects/clock.gif" alt="">
</section>

<section class="foreground">
  <WalkArea @scene="test-area" />
  <div id="player-container">
    <img src="/assets/character-sprites/frank-sprite-sheet-2.png" id="player-sprite" class="standing">
  </div>

  {{#each this.model.objects as |object|}}
    <Object @object={{object}} />
  {{/each}}
  
</section>