<section class="background">
  <img class="scene street" src="/assets/images/street.png" alt="">
  {{#if this.animateCar}}
    <img class="scene street-car" src="/assets/images/street-car.gif" alt="">
  {{/if}}
  <img class="rain" src="/assets/images/rain.gif" alt="">
  <img class="scene" src="/assets/images/car-interior.png" alt="">
  <img class="scene" src="/assets/images/frank-wake-up.gif" alt="">
</section>

{{this.manageScene}}